button {
  background: none;
  line-height: 1.4em;
  font-family: Khula, sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding: 12px 15px 10px 15px;
  border: black 1px solid;
  border-radius: 0px;
  cursor: pointer;
}

button:active{
  outline: none;
  border: none;
}

button:focus{
  outline: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #c79f7e;
}

h1{
  font-weight: 300;
}

h2{
  font-weight: 300;
}

h3{
  font-weight: 300;
}

.centerify {
  text-align: center !important;
}

@media (max-width: 500px) {
  .magic-500px-hidden {
    display: none;
  }
}

@media (max-width: 800px) {
  .magic-800px-hidden {
    display: none;
  }
}

.bg-light{
  background-color: #F5F5F5;
}

.bg-dark{
  background-color: #666666;
}

.bg-grey{
  background-color: #f2f2f2;
}

.bg-lightgrey{
  background-color: #e4e2e2;
}

.big-background {
  width: 100%;
  height: 900px;
  background-size: 100% auto;
  background-position: 5% 100%;
  padding: 230px 203px 0 180px
}

.big-background h1 {
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0;
}

.big-background h2 {
  margin: 0;
  font-weight: 200;
}

.big-background a {
  margin: auto 10px auto 0;
  font-size: 20px;
}

@media (max-width: 1350px) {
  .big-background {
    height: 66.65vw;
    padding: 17vw 13.3vw 0 ;
  }
}

@media (max-width: 1050px) {
  .big-background {
    height: 66.65vw;
    padding: 22vw 4vw 0 ;
  }
}

@media (max-width: 640px) {
  .big-background {
    padding-top: 70px;
  }
}
